# opendart.fss.or.kr 에서 무료 발급 (40자리)
DART_API_KEY=

PG_HOST=localhost
PG_PORT=5435
PG_DB=dartweave
PG_USER=dartweave
PG_PASSWORD=dartweave

NEO4J_BOLT_PORT=7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=dartweave1

DATA_DIR=./data
